<div class="index-container">
  <div class="img-container">
    <img src="/public/images/beer.png" width="100%">
  </div>


  <button type="button" class="btn btn-dark">Check the beers!</button>

  <button type="button" class="btn btn-dark">Check a Random Beer!</button>

</div>